:root {
  --grid-width: 24;
  --grid-height: 24;
  --grid-square-size: 20px;
}

body {
  margin: 0;
  background: #4e504f;
  font-family: sans-serif;
  color: white;
}

.Interface {
  margin: 1rem auto;
  width: 15rem;
  display: grid;
  grid-template-rows: 3rem 3rem 3rem;
  grid-template-columns: 5rem 5rem 5rem;
}

.Interface button:nth-child(1) {
  // grid-column: 1/4;
}
.Interface button:nth-child(4) {
  grid-column: 2/3;
}
.Interface button:nth-child(n + 5) {
  grid-row: 3;
}

.World {
  margin: 1rem auto;
  width: calc(var(--grid-width) * var(--grid-square-size) + (var(--grid-width) - 1) * 1px)
}

.Grid {
  display: grid;
  grid-template-rows: repeat(var(--grid-width), var(--grid-square-size));
  grid-template-columns: repeat(var(--grid-height), var(--grid-square-size));
  grid-gap: 1px;
}

.Score {
  text-align: center;
}

.Square.Empty:after { content: "⬛"; }
.Square.Snake:after { content: "🐍"; }
.Square.Bait:after  { content: "🍎"; }
